body{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 50vh 50vh;
}

header{
	background-color: red;
}

main{
	background-color: blue;
}

section{
	background-color: green;
}

footer{
	background-color: yellow;
}

@media screen and (max-width : 500px)
{
	h1{
		font-size: 8px;
	}
}

@media screen and (max-width : 1000px)
{
	h1{
		font-size: 15px;
	}
}