body{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 50vh 50vh;
	margin: 0;
}

header{
	background-color: red;
}

main{
	background-color: blue;
}

section{
	background-color: green;
}

footer{
	background-color: yellow;
}
@media screen and (max-width : 900px)
{
	header{
		background-color: blue;
	}
	
	main{
		background-color: red;
	}
	
	section{
		background-color: yellow;
	}
	
	footer{
		background-color: green;
	}
	h1{
		font-size: 20px;
	}
}

@media screen and (max-width : 600px)
{
	header{
		background-color: yellow;
	}
	
	main{
		background-color: green;
	}
	
	section {
		background-color: blue;
	}
	
	footer{
		background-color: red;
	}
	
	h1{
		font-size: 10px;
	}
}